.container {

}

.title {
  margin: 50px 0;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize; 
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.ecommerce {
  background-color: #57c4ff31;
}
.category.reviews {
  background-color: #da85c731;
}
.category.ai {
  background-color: #7fb88133;
}
.category.seo {
  background-color: #ff795736;
}
.category.coding {
  background-color: #ffb84f45;
}
.category.fashion {
  background-color: #5e4fff31;
}


.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    font-size: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}